* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
  --swiper-theme-color: indianred;
}


/*NAVBAR*/
#homenav{
  background: linear-gradient(to right, black, indianred);
}



/*CATALOG*/

#carlist{
  /*background-color: grey;*/
  margin-top: 5%;
  margin-bottom: 10%;
}
#my-card{
  -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
}
#my-card::hover{
  height: 120%;
  width: 120%;
}

.bpartnerrow{
	background: linear-gradient(to right, black, grey);
	border-top: 3px solid indianred;
	border-bottom: 3px solid indianred;
}
.bpartner{
  padding: 0;
}

.bpartnercol1{
	padding-top: 5%;
}
.image {
	padding: 0;
}

.fav {
  background: linear-gradient(to right, black, grey);
  border-top: 3px solid indianred;
  border-bottom: 3px solid indianred;
  margin-bottom: 15%;
}
.favcol {
  padding-top: 5%;
}





/*SWIPER*/
.my-slider{
  padding: 0;
  margin-top: 18vh;
}
#myswiper-container{
	padding-top: 5%;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  /*padding-bottom: 20px;*/
  background-image: url('swiperbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myswiper {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  background: linear-gradient(to right, black, indianred);
  color: white;
  border: 2px solid black;
  font-style: italic;
   -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
-moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
}

.swiper-slide .imgBx {
  width: 100%;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  width: 100%;
}

.details {

  /*background-color: grey;*/
  padding-top: 0;
  padding-left: 3px;
  padding-right: 3px;
  /*height: 100%;*/
}

.swiper-slide .details p{
  margin: 0;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}



/*PARTNER ADD CAR PAGE*/
.partneradd {
  margin-bottom: 10%;
}

.headerstyle{
  font-family: 'Faster One', cursive;
  font-size: 150%;
  color: indianred;
  text-shadow: 4px 5px 5px rgba(33,14,9,0.75);
}




/*HOME PAGE*/
#homepagebanner{
  height: 100vh;
  background-image: url('homebannerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homebannerquote{
  margin-top: 12%;
  font-style: italic;
  font-size: 1.5rem;
}
.homebannersoc{
  font-size: 2rem;
  color: black;
}
.homebannersoc:hover{
  color: black;
}

.homebannerheading{
  color: white; 
  margin-top: 20%; 
  font-size: 5rem;
  text-shadow: 0 0 10px indianred;
}
.homebannerpara{
  color: white; 
  font-style: italic;
  font-size: 1.5rem;
}
.homebanner-btn1{
  background-color: indianred;
  color: white;
  border-color: indianred;
}
.homebanner-btn1:hover{
  opacity: .8;
  border-color: indianred;
}
.homebanner-btn2{
  background-color: white;
  color: indianred;
  border-color: indianred;
}
.homebanner-btn2:hover{
  background-color: indianred;
  color: white;
  border-color: indianred;
}



#homepagebanner2{
  height: 90vh;
  margin-top: 18vh;
  background-image: url('2ndhomebannerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homebannerheading2{
  margin-top: 40%;
  font-size: 2.5rem;
  text-shadow: 4px 5px 5px rgba(33,14,9,0.75);
}
.homebannerpara2{
  font-style: italic;
  font-size: 1.25rem;
}
.homebanner2-btn{
  background-color: indianred;
  color: white;
  border-color: black;
}



#homepageparalax{
  height: 90vh;
  margin-top: 18vh;
  background-image: url('gearbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homeparalaxheading{
  margin-top: 20%;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px indianred;
}
.homeparalaxpara{
  font-style: italic;
  font-size: 1.5rem;
  color: white;
}
.homeparalax-btn{
  background-color: indianred;
  color: white;
  border-color: black;
}

/*footer*/
#myfooter{
  margin-top: 18vh;
  height: 80vh;
  background-image: url('footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.disclaimer{
  margin-top: 45%;
  text-shadow: 4px 5px 5px rgba(33,14,9,0.75);
}
.contactus{
  margin-top: 45%;
  text-shadow: 4px 5px 5px rgba(33,14,9,0.75);
}
.homebannersocf{
  font-size: 2rem;
  color: indianred;
}

/*LOGIN PAGE*/
.nav-tabs{
  border-bottom: 1px solid indianred;
}
.loginbtn{
  background-color: indianred;
  color: white;
  border-color: 1px solid black;
}
.logincol {
  background: linear-gradient(to right, #f1f1f1, white);
  border: 2px solid indianred; 
  border-top-left-radius: 5%; 
  border-bottom-right-radius: 5%; 
  -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61); 
  padding: 5%;
}

/*TRANSACTION PAGE*/
#notrans{
  height: 90vh;
  margin-top: none;
  background-image: url('2ndhomebannerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.notransheading{
  margin-top: 55%;
}


/*PARTNER ADD CAR*/
.partneraddcol {
  background: linear-gradient(to right, #f1f1f1, white);
  border: 2px solid indianred; 
  border-top-left-radius: 5%; 
  border-bottom-right-radius: 5%; 
  -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61); 
  padding: 5%;
}

/*ADMIN*/
.addcarcol{
  background: linear-gradient(to right, #f1f1f1, white);
  border: 2px solid indianred; 
  border-top-left-radius: 5%; 
  border-bottom-right-radius: 5%; 
  -webkit-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61);
  box-shadow: 6px 21px 22px 0px rgba(0,0,0,0.61); 
  padding: 5%;
  margin-bottom: 3%;
}